:root {
    --clr-1: #284B63;
    --clr-2: #3C6E71;
    --clr-2-light: #0eb2bb;
    --clr-3: #353535;
    --clr-4: #D9D9D9;
    --clr-5: rgb(250, 128, 114);
    --clr-5-dark: rgb(212, 101, 89);
    --clr-6: #AB87FF;
    --white: #FBFBFB;
    --black: #0a0a0a;
}